backend/.env
venv/
backend/data
backend/notebooks/db
resume-builder.code-workspace
.DS_Store
backend/__pycache__
backend/app/__pycache__
backend/db
node_modules
dump.rdb
.env
.venv
backend/notebooks/data
backend/notebooks/crew_log.txt
data/*
db/*
frontend/.env.*
.vscode/*
